.heading {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  color: #2bcc91;
}
.imw {
  width: 65%;
  position: relative;
}
.product {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 9;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}

.ccc:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cc1 {
  width: 82%;
  background: #fff;
  color: #000;
  padding: 4px 8px;
  border: 1px solid #000;
  height: 40px;
  border-radius: 7px;
}

.card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.logo_shop {
  width: 125px;
  height: 125px;
  margin: 0;
}
.custom_header_bg {
  background-color: #2bcc91;
  padding: 10px 5px;
  border-radius: 25px;
}
.cat-active {
  background-color: #2d2c2c;
  color: white !important;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
}

.rounded-20 {
  border-radius: 20px !important;
}

.modal-dialog {
  margin-right: 15vw;
  margin-left: 15vw;
  margin-top: 25px;
}
.modal-content {
  width: 70vw;
  height: auto;
}
.img-modal {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  height: auto;
}

.quantity-field {
  border: 1px solid #000;
  width: 100px !important;
}

/* small screens */
@media only screen and (max-width: 553px) {
  .card {
    margin-top: 25px;
  }

  .modal-dialog {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10vh;
  }

  .modal-content {
    width: 90vw;
    height: auto;
  }

  .img-modal {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
  }
}
